1.

In [2]:
for i in range(1,11):
    print(i, end=" ")

1 2 3 4 5 6 7 8 9 10

2.

In [21]:
lst=[]
for i in range(1,21):
    if i%2==0:
        lst.append(i)
print((lst[::-1]))

[20, 18, 16, 14, 12, 10, 8, 6, 4, 2]

3.

In [23]:
lst=[2,4,2,1,4,5,23,22,12,1,2,3]
sum=0
for i in lst:
    sum=sum+i
print(sum)

81

4.

In [28]:
lst=[1,2,3,4,5,6,7,8,9]
for i in range(3):
    lst.remove(lst[i])
print(lst)

[2, 4, 6, 7, 8, 9]

5.

In [37]:
for i in range(1,6):
    for j in range(1,i):
        print(j, end=" ")
    print("")

1
1 2
1 2 3
1 2 3 4

6.

In [42]:
for i in range(1,10):
    for j in range(1,10):
        print(j, end=" ")
    print("")

1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9

LAB2

1

In [48]:
for i in range(1,6):
    for j in range(1,10):
        print("*",end="")
    print()

*********
*********
*********
*********
*********

In [58]:
for i in range(1,10):
    for j in range(1,10):
        if i==1 or i==9 or j==1 or j==9:
            print("*",end=" ")
        else:
            print(" ", end=" ")
    print()

* * * * * * * * *
*               *
*               *
*               *
*               *
*               *
*               *
*               *
* * * * * * * * *

3

In [59]:
for i in range(1,10):
    for j in range(1,10):
        if i==j:
            print("*",end=" ")
        else:
            print(" ", end=" ")
    print()

*
  *
    *
      *
        *
          *
            *
              *
                *

4

In [71]:
for i in range(1,10):
    for j in range(1,10):
        if i+j==10:
            print("*",end=" ")
        else:
            print(" ", end=" ")
    print()

                *
              *
            *
          *
        *
      *
    *
  *
*

5

In [70]:
for i in range(1,10):
    for j in range(1,10):
        if i==j or i+j==10:
            print("*",end=" ")
        else:
            print(" ", end=" ")
    print()

*               *
  *           *
    *       *
      *   *
        *
      *   *
    *       *
  *           *
*               *

6

In [72]:
for i in range(1,10):
    for j in range(1,10):
        if i==1 or i+j==10:
            print("*",end=" ")
        else:
            print(" ", end=" ")
    print()

* * * * * * * * *
              *
            *
          *
        *
      *
    *
  *
*

8.

In [73]:
for i in range(1,10):
    for j in range(1,10):
        if i==1 or i==9 or i==j or i+j==10:
            print("*",end=" ")
        else:
            print(" ", end=" ")
    print()

* * * * * * * * *
  *           *
    *       *
      *   *
        *
      *   *
    *       *
  *           *
* * * * * * * * *

9.

In [80]:
for i in range(1,10):
    for j in range(1,10):
        print("-", end="")
    print()

---------
---------
---------
---------
---------
---------
---------
---------
---------

10

In [77]:
for i in range(1,10):
    for j in range(1,10):
        print("|"," ",end="")
    print()

|  |  |  |  |  |  |  |  |
|  |  |  |  |  |  |  |  |
|  |  |  |  |  |  |  |  |
|  |  |  |  |  |  |  |  |
|  |  |  |  |  |  |  |  |
|  |  |  |  |  |  |  |  |
|  |  |  |  |  |  |  |  |
|  |  |  |  |  |  |  |  |
|  |  |  |  |  |  |  |  |

11

In [88]:
for i in range(1,10):
    for j in range(1,10):
        if i%2==0:
            print( "","#", end="")
        else:
            print("#", end=" ")
    print()

# # # # # # # # #
 # # # # # # # # #
# # # # # # # # #
 # # # # # # # # #
# # # # # # # # #
 # # # # # # # # #
# # # # # # # # #
 # # # # # # # # #
# # # # # # # # #